body {
    color:#909090;
    background-color: #101010;
}

a {
    color:#008000;
}

h1, h2, h3 {
    color:white;
    font-family: Impact;
}

li {
    color:#900000
}

p {
    font-family:system-ui;
}


#navbar{
    background-color: #333;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
    font-size:larger;
}

#navbar a {
    border: 1px solid rgb(181, 178, 178); /* Adds a light border */
    padding: 5px; /* Adds spacing inside the border */
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Ensures proper spacing around the border */
    background-color: black;
    border-radius:  5px;
}

/* Simple box layout */
/* Applying box-sizing: border-box universally ensures that padding */
/* and border are included within the element's total width and height */
/* making layout calculations easier. */
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 32%;
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-color: #900000;
  border-style: solid;
  height:100%;
  
}

/* Clear floats after the columns to ensure that the parent container properly encloses the floated elements. 
   Without clearing, the parent container's height may collapse, causing layout issues. */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:900px) {
  .column {
    width: 100%;
  }
}